body {
    padding: 10px;
    color: black;
    background-color: #ffffff;
}

#mainArea {
    margin: 0 auto;
    width: 770px;
}

#gpioArea {
    width: 350px;
}

.greenBackground {
    background: #d4ffd3;
}

.redBackground {
    background: #f9cfc8;
}

.pointer {
    cursor: pointer;
}

a {
    color: #5286ff;
    text-decoration: underline;
}

.mediumRightPadding {
    padding-right: 2em;
}

.thinborder {
    border: 1px solid #3b3b3b;
}